name: Random Commit Generator

on:
  schedule:
    - cron: "0 0 */2 * *"
  workflow_dispatch:
  push:
    branches:
      - wip

jobs:
  generate-commits:
    runs-on: ubuntu-latest
    env:
      GIT_AUTHOR_NAME: sakshiagrwal
      GIT_AUTHOR_EMAIL: 81718060+sakshiagrwal@users.noreply.github.com
      GIT_COMMITTER_NAME: sakshiagrwal
      GIT_COMMITTER_EMAIL: 81718060+sakshiagrwal@users.noreply.github.com
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4

        with:
          python-version: 3.8
      - run: |
          pip install gitpython datetime
          python main.py
