name: Run script on push and schedule

on:
  push:
    branches:
      - js
  schedule:
    - cron: "0 * * * *"

jobs:
  make-commits:
    runs-on: ubuntu-latest
    env:
      GIT_AUTHOR_NAME: sakshiagrwal
      GIT_AUTHOR_EMAIL: 81718060+sakshiagrwal@users.noreply.github.com
      GIT_COMMITTER_NAME: sakshiagrwal
      GIT_COMMITTER_EMAIL: 81718060+sakshiagrwal@users.noreply.github.com
    steps:
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: npm i jsonfile moment simple-git
      - name: Run script
        run: node --experimental-modules script.js
